<footer class="footer-m">
    <div class="f-info">
        <div class="f-info-socials">
        
            <a href="https://in.linkedin.com/company/united-college-of-engineering-and-research-allahabad"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.youtube.com/@theugiindia"><i class="ic fa-brands fa-youtube"></i></a>
            
        
        </div>

        <div style="color: aliceblue;" class="f-info-brand">&copy;United</div>

        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>

