

<!-- <ul id="navbar" class="nav justify-content-end sticky-top Desktop">
  <img class="logo" src="/images/logo-1.png" />
  <li class="nav-item">
    <a class="nav-link active page" aria-current="page" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Repository">Repository</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/gallery">Gallery</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/proposal">Proposal</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/feedback">Feedback</a>
  </li>
</ul> -->



<ul id="navbar" class="nav justify-content-end sticky-top Desktop">
  <img class="logo logo-desk" src="/images/logo-1.png" />
  <li class="nav-item">
      <a class="nav-link active page" aria-current="page" href="/">Home</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="/Repository">Repository</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="/gallery">Gallery</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="/proposal">Proposal</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="/feedback">Feedback</a>
  </li>
</ul>



  
<!-- Menu Icon for Mobile View -->
<div class="menu-icon" onclick="toggleSidebar()">&#9776;</div>

<img style="margin-left: 75%; z-index: 2000 !important; height: 3vh; width: 20vw;"  class="logo-mobile logo" src="/images/logo-1.png" />

<!-- Sidebar Navbar (Mobile View) -->
<div id="mobileNav" class="Mobile">
    <span class="close-btn" onclick="toggleSidebar()">&times;</span>
     
    
    <ul>

        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Repository">Repository</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/gallery">Gallery</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/proposal">Proposal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/feedback">Feedback</a>
        </li>
    </ul>
</div>














<!-- <header>

  <nav>
      <a href="/" class="active">Home</a>
      <a href="">About</a>
      <a href="/Repository">Repository</a>
      <a  href="/gallery">Gallery</a>
      <a href="/proposal">Proposal</a>
      <a href="#">Feedback</a>
  </nav>

</header>  -->









