<% layout("/layouts/boilerplate") %>

<H2 style="color:darkorange ; font-family: sans-serif; font-weight: 200; text-align: center; margin-top: 3rem;"   class="text-heading">GALLERY</H2>

<div class="parent-div">
  <div class="child-div child-div1">
    <a href="/gallery/tech-23">  <img class="img-g" src="/images/ga.jpg"> </a>

  </div>
  <div class="child-div child-div2">
    <a href="/gallery/tech-24">  <img class="img-g" src="/images/gb.jpg"> </a>
  </div>
</div>





















