<% layout("/layouts/boilerplate") %>
 


<div class="full-screen">
  <div class="carouseli">
    <div class="listi">
      <div class="itemi" style="background-image: url(/images/2.jpg)">
        <div class="contenti">
          <div class="titlei">Visionary</div>
          <div class="namei">Engineering</div>
          <div class="desi">
            At the heart of technological progress,
            we develop solutions that shape the future.
          </div>
          
        </div>
      </div>
  
  
      <div class="itemi" style="background-image: url(/images/1.jpg)">
        <div class="contenti">
          <div class="titlei">Collabe &</div>
          <div class="namei">Innovate</div>
          <div class="desi">
            Bringing together bright minds to create sustainable
            and technological advancements for society.
          </div>
         
        </div>
      </div>
  
      <div class="itemi" style="background-image: url(/images/5.jpg)">
        <div class="contenti">
          <div class="titlei">Inventive</div>
          <div class="namei"> Spirit</div>
          <div class="desi">
            Encouraging innovation across disciplines, 
            tackling modern challenges with creativity and passion
          </div>
         
        </div>
      </div>
  
      <div class="itemi" style="background-image: url(/images/4.jpg)">
        <div class="contenti">
          <div class="titlei">Creative</div>
          <div class="namei">Solutions</div>
          <div class="desi">
            Students transform innovative concepts into impactful
            solutions using cutting-edge tools and technology.
          </div>
         
        </div>
      </div>
    </div>

   
  
    <div class="arrowsi">
      <button class="previ"><</button>
      <button class="nexti">></button>
    </div>
    
    
   
  
    <div class="timeRunningi"></div>
  </div>
  
</div>

