<% layout("/layouts/boilerplate") %>
 


<div class="full-screen">
  <div class="carouseli">
    <div class="listi">
      <div class="itemi" style="background-image: url(/images/2.jpg)">
        <div class="contenti">
          <div class="titlei">Visionary</div>
          <div class="namei">Engineering</div>
          <div class="desi">
            At the heart of technological progress,
            we develop solutions that shape the future.
          </div>
          <!-- <div class="btni">
            <button>See More</button>
            <button>Subscribe</button>
          </div> -->
        </div>
      </div>
  
  
      <div class="itemi" style="background-image: url(/images/1.jpg)">
        <div class="contenti">
          <div class="titlei">Collabe &</div>
          <div class="namei">Innovate</div>
          <div class="desi">
            Bringing together bright minds to create sustainable
            and technological advancements for society.
          </div>
          <!-- <div class="btni">
            <button>See More</button>
            <button>Subscribe</button>
          </div> -->
        </div>
      </div>
  
      <div class="itemi" style="background-image: url(/images/5.jpg)">
        <div class="contenti">
          <div class="titlei">Inventive</div>
          <div class="namei"> Spirit</div>
          <div class="desi">
            Encouraging innovation across disciplines, 
            tackling modern challenges with creativity and passion
          </div>
          <!-- <div class="btni">
            <button>See More</button>
            <button>Subscribe</button>
          </div> -->
        </div>
      </div>
  
      <div class="itemi" style="background-image: url(/images/4.jpg)">
        <div class="contenti">
          <div class="titlei">Creative</div>
          <div class="namei">Solutions</div>
          <div class="desi">
            Students transform innovative concepts into impactful
            solutions using cutting-edge tools and technology.
          </div>
          <!-- <div class="btni">
            <button>See More</button>
            <button>Subscribe</button>
          </div> -->
        </div>
      </div>
    </div>

    <div class="itemi" style="background-image: url(/images/5.jpg)">
      <div class="contenti">
        <div class="titlei">SLIDER</div>
        <div class="namei">EAGLE</div>
        <div class="desi">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis
          culpa similique consequuntur, reprehenderit dicta repudiandae.
        </div>
        <!-- <div class="btni">
          <button>See More</button>
          <button>Subscribe</button>
        </div> -->
      </div>
    </div>
  </div>
  
    <div class="arrowsi">
      <button class="previ"><</button>
      <button class="nexti">></button>
    </div>
    
    
   
  
    <div class="timeRunningi"></div>
  </div>
  
</div>


<!-- 
<div class="up-txt">
  <h1>Welcome to the Innovation Center</h1>
  <p>Innovate. Collaborate. Accelerate.</p>
</div> -->

<!-- <div class="cor">
  <div id="carouselExampleAutoplaying" class="carousel slide w-75" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="/images/img1.0.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="/images/img1.2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="/images/img1.5.jpg" class="d-block w-100" alt="...">
      </div> 
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>



<div class="proposal-section">
  <div class="proposal-image">
      <a href="/proposal">
          <img src="/images/pro1.jpg" alt="Submit Proposal">
      </a>
  </div>
  <div class="proposal-text">
      <h1>Innovate with us!<br> <a style="color: aquamarine;" href="/proposal">send</a> your proposal today.</h1>
  </div>
</div>


<div class="turing-quote">
  <p>"We can only see a short distance ahead, but we can see plenty there that needs to be done." <br>— Alan Turing</p>
</div> -->

<!-- 
<div class="about" id="about">

  <h2>
    "At the Innovation Center of United College of Engineering and Research, we foster a dynamic
     environment where creativity meets cutting-edge technology. Our mission is to empower students,
      entrepreneurs, and researchers to bring innovative ideas to life, driving forward solutions that can 
      shape the future. With state-of-the-art facilities, mentorship, and a collaborative ecosystem, we aim to
       cultivate innovation in engineering, science, 
    and technology, preparing our community to address real-world challenges and excel in the ever-evolving global landscape.""
  </h2>
</div>  -->
