 <% layout("/layouts/boilerplate") %>


<H2 style="color:darkorange ; font-family: sans-serif; font-weight: 200; text-align: center;"  class="text-heading" >PROJECT REPOSITORY</H2>

<div class="card-container">
  <div class="row justify-content-between">
    <div class="col-12 col-md-3 mb-4">
      <a href="https://drive.google.com/drive/folders/1DApOEg0cfQPHLhSeeEwYQ47Lm8VPE2kA" class="card">
        <img src="/images/c2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text" >Electronics</p>
        </div>
      </a>
    </div>

    <div class="col-12 col-md-3 mb-4">
      <a href="https://drive.google.com/drive/folders/1t1nquXMwCKCmR-GEen53HLZPc48flyKz" class="card">
        <img src="/images/c5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Electrical</p>
        </div>
      </a>
    </div>

    <div class="col-12 col-md-3 mb-4">
      <a href="https://drive.google.com/drive/folders/1A9YxkXWVex47qTdmmVWq8ckCIU_hqZ7O" class="card">
        <img src="/images/c3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Mechanical</p>
        </div>
      </a>
    </div>

    <div class="col-12 col-md-3 mb-4">
      <a href="https://drive.google.com/drive/folders/17c1FZBwZcTH-wL4n9CbX-QxptNFg3rK5" class="card">
        <img src="/images/c4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Civil</p>
        </div>
      </a>
    </div>
  </div>
</div> 
